<!doctype html>
{% load static %}
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>돌쇠야</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <div class="container">
      <header>
        <p>돌쇠야</p>
        <ul>
          {% if User.is_authenticated %}
          <li><a href="{% url 'accounts:afterlogin'%}">홈</a></li>
          {% else % }
          <li><a href="{% url 'accounts:homepage'%}">홈</a></li>
          {% endif %}
          <li><a href="{% url 'accounts:profile'%}">{{ user.username }}님</a></li>
          <li><a href="{% url 'accounts:logout'%}">로그아웃</a></li>
        </ul>
      </header>
      <section>
        <a href="{% url 'accounts:board:board_list'%}">게시판</a>
      </section>
      <footer>
      </footer>
    </div>
    
  </body>
</html>