<!DOCTYPE html>
<html>
<head>
    <title>프로필 수정</title>
</head>
<body>
    <h2>프로필 수정</h2>
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="first_name">이름:</label>
            <input type="text" name="first_name" value="{{ user.first_name }}" required>
        </div>
        <div>
            <label for="last_name">성:</label>
            <input type="text" name="last_name" value="{{ user.last_name }}" required>
        </div>
        <div>
            <label for="nickname">닉네임:</label>
            <input type="text" name="nickname" value="{{ user.nickname }}">
        </div>
        <div>
            <label for="ph_num">전화번호:</label>
            <input type="text" name="ph_num" value="{{ user.ph_num }}">
            <label for="address">주소:</label>
            <input type="text" name="address" value="{{ user.address }}">
        </div>
        <div>
            <label for="address">주소:</label>
            <input type="text" name="address" value="{{ user.address }}">
        </div>
        <div>
            <label for="email">이메일:</label>
            <input type="email" name="email" value="{{ user.email }}" required>>
        </div>
        <button type="submit">저장</button>
    </form>
</body>
</html>

